:root {
 --gradient: linear-gradient(
    45deg, #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
    );
}



html { 
  background: url(Fond.png) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: #FAEBD7;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    dispaly: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}


nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}


.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color:#FAEBD7;
}

nav > ul li:hover  .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}


.sous a{
    padding: 10px;
    border-bottom:none;
}


.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}



.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #FAEBD7;
    position: absolute;
    width: 100%;
    z-index: 1000;;
}


nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}



.content{
    position:absolute;
    right: 180px;
    bottom: 180px;
    z-index: 2;
    background: #FAEBD7;
    width: 70vw;
    padding: 3em;  
}



.content2{
    position:absolute;
    right: 40px;
    bottom: 40px;
    z-index: 2;
    background: #FAEBD7;
    width: 90vw;
    padding: 3em;  
}




.content3{
    position:absolute;
    right: 40px;
    bottom: 80px;
    z-index: 2;
    background: #FAEBD7;
    width: 90vw;
    padding: 3em;  
}

.title, .PP1{
    margin: 0 0. 0.5em;
    font-weight: 700;
    font-size:2.4rem;
    line-height: 0.9;
color:#2F4F4F ;
text-align:center;
text-shadow: 3px 2px 4px ;
font-style: italic;


background-image: var(--gradient);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-size: 400%;
animation: bg-animation 5s infinite alternate;

}





.Para{
    margin: 0 0 0.5em;
    font-weight: 400;
    font-size:2rem;
    line-height: 1.3;
    margin: 0;
    color: #2F4F4F;
text-align:center;
text-shadow: 3px 2px 4px ;
}

 img {
  border-radius: 50%;
  position: absolute;
  left: 0;
    right: -1% !important;
    bottom: 190px;
  
}
.Para2, ol{
    margin: 0 0 0.5em;
    font-weight: 300;
    font-size:1.2rem;
    line-height: 1.2;
    margin: 0;
    color: #2F4F4F;
text-align:center;
text-shadow: 3px 2px 4px ;
}


 .ul{
    margin: 0 0 0.5em;
    font-weight: 400;
    font-size:1.2rem;
    line-height: 1.2;
    margin: 0;
    color: #2F4F4F;

text-shadow: 3px 2px 4px ;
}



@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
    
}


p{
    color:black;
}



h2{
color: navy;
text-align:center;
text-shadow: 3px 2px 4px ;
border-style: solid;

}


td{
    border: 3px solid navy;
}
table{
    border-collapse: collapse;
}




.V1, .V2{
color: magenta;
text-align:center;
text-shadow: 3px 2px 4px ;
border-style: solid;
}


.D1, .D2{
color: red;
text-align:center;
text-shadow: 3px 2px 4px ;
border-style: solid;
}


.O1, .O2{
color: maroon;
text-align:center;
text-shadow: 3px 2px 4px ;
border-style: solid;
}



.B1, .B2{
color: green;
text-align:center;
text-shadow: 3px 2px 4px ;
border-style: solid;

}

img{
    hight:200px;
    width:200px;
    border-color: navy;
    border-style: solid;
}
